*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    display: none;
}

/* nav */

nav {
    background-color: #222;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    display: block;
    padding: 10px 20px;
    padding: px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: #666;
}

/* main */

main {
    padding: 10px;
}

.main-con {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    /* grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); */
    gap: 10px;
    height: 400px;
}

.about-me {
    border: 1px solid;
}

.about-me p {
    padding: 10px;
}

.my-photo {
    border: 1px solid;
}

.my-photo img {
    display: block;
    margin: 20px auto;
}

h3 {
   background-color: #222;
   color: white;
   text-align: center;
}

/* Responsive Menu */
@media (max-width: 768px) {
    .icon {
        display: block;
    }
    .nav-links {
        flex-direction: column;
        display: none;
    }

}