@media screen and (min-width: 868px) {
    /* body {
        
    } */
   .topNav {
      display: flex;
   }
    nav {
       max-width: 350px;
       margin-left: auto;
       position: relative;
       top: -80px;
       right: 50px;
    }
    nav #nav-links {
       flex-direction: row;
       list-style-type: none;
       background-color: transparent;
    }
    nav #nav-links li a {
      color: var(--text-color);
  }
     #hamburgerMenu {
       display: none;
    }
    main {
      position: relative;
      top: -41.6px;
    }
}