
/* MOBILE */
@media (max-width: 712px) {
    nav ul {
        display: none;
    }

    #harmburger {
        display: block;
        font-size: 2rem;
        cursor: pointer;
        color: var(--header-color);
        position: absolute;
        right: 1rem;
        margin: 0;
    }

    #navigation {
        background-color: var(--nav-bg);
        width: 100%;
        padding: 1.2rem 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 100;
    }

    #navigation.show {
        display: flex;
    }
    #navigation li {
        text-align: center;
        padding: 1rem 0;
    }

    #navigation a {
        color: var(--header-color);
        font-size: 1.2rem;
    }

    #navigation li:hover {
        background-color: lightskyblue;
    }

    .hero { 
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

}

/* FOOTER */
footer {
    margin-top: 2rem;
    text-align: center;
    padding: 1rem;
    background: var(--header-bg);
    color: var(--header-color);
}
