@media (max-width: 868px) {
    .icon {
        display: block;
    }
    .nav-links {
        flex-direction: column;
        display: none;
    }
    .meta{flex-direction:column;align-items:flex-start}
    .course-card{flex-direction:column;align-items:flex-start}
}