*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.p-name {
    font-weight: bold;
    font-size: 24px;
    cursor: pointer;
}

.logo-name {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    display: none;
}

/* nav */

nav {
    background-color: #222;
}

.nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    display: block;
    padding: 10px 20px;
    padding: px;
    color: white;
    text-decoration: none;
}

.nav-links a:hover,
.nav-links a.active {
    background-color: #666;
}

/* main */

main {
    padding: 10px;
}

.abt-mp {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 10px;
    /* height: 400px; */
}

.about-me {
    border: 1px solid;
}

.about-me p {
    padding: 10px;
}

.my-photo {
    border: 1px solid;
}

.my-photo img {
    display: block;
    margin: 20px auto;
}

main h2 {
   background-color: #222;
   color: white;
   text-align: center;
}

.web-courses {
    position: relative;
    top: 20px;
}

.module {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5px;
    gap: 5px;
}

.all, .cse, .wdd {
    border: 1px solid;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.courses {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 5px;
    gap: 10px;
}

.web-courses p {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
}

.wdd130, .wdd131, .wdd231 {
    border: 1px solid;
    text-align: center;
    padding: 2px;
}

footer {
    text-align: center;
    /* padding: 10px; */
    /* background-color: #222; */
    color: white;
    position: relative;
    top: 40px;
}

.copy-right-date {
    padding: 10px;
    background-color: lightgray;
    color: black;
}

/* Responsive Menu */
@media (max-width: 868px) {
    .icon {
        display: block;
    }
    .nav-links {
        flex-direction: column;
        display: none;
    }
    .courses {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 5px;
    gap: 10px;
}

}